attrs==23.2.0
cmd2==2.4.3
cmd2-ext-test==2.0.0
gnureadline==8.1.2
iniconfig==2.0.0
packaging==23.2
pandas==2.2.0
pluggy==1.4.0
py==1.11.0
pyparsing==3.1.1
pyperclip==1.8.2
pytest==8.0.0
python-dotenv==1.0.1
requests==2.31.0
tldextract==5.1.1
tomli==2.0.1
validators==0.22.0
wcwidth==0.2.13
xdg==5.1.1
