attrs>=22.2.0
cmd2==2.4.3
cmd2-ext-test==2.0.0
cx_Freeze>=6.13.2
gnureadline==8.1.2
iniconfig>=1.1.1
packaging>=21.3
pandas>=1.1.5
pluggy>=1.0.0
py==1.11.0
pyparsing==3.1.1
pyperclip==1.8.2
pytest==8.0.0
python-dotenv>=0.20.0
requests>=2.27.1
tldextract>=3.1.2
tomli>=1.2.3
urllib3==1.26.6
validators>=0.20.0
wcwidth==0.2.13
xdg==5.1.1
